
.mdl-ripple {
  background: rgb(0 0 0);
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.page-content {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

body {
  background-color: rgb(253 253 254);
}

